{% spaceless %}
    <ul class="accordion planet-list" data-accordion>
        <div class="menu-title"></div>

        {# {% for planet in planets %} #}
            <li class="accordion-item" data-accordion-item>
                {# <a id="{{ planet.id }}" class="accordion-title planet-name" data-id="{{ planet.id }}"> #}
                <!-- <a id="2" class="accordion-title planet-name" data-id="2">
                    <img src="src/assets/img/ssmoves.png">
                </a> -->
                <!-- <a id="3" class="accordion-title planet-name" data-id="3">
                    <img src="src/assets/img/ssmoves.png">
                </a> -->
                <a id="4" class="accordion-title planet-name" data-id="4">
                    <img src="src/assets/img/SUPERSTARLOGO.png">
                </a>
                {# {{ planet.name }} #}
            </li>
        {# {% endfor %} #}
    </ul>
{% endspaceless %}
