{% spaceless %}
    <ul class="accordion planet-list" data-accordion>
        <div class="menu-title"></div>

        {# {% for planet in planets %} #}
            <li class="accordion-item" data-accordion-item>
                {# <a id="{{ planet.id }}" class="accordion-title planet-name" data-id="{{ planet.id }}"> #}
                <a id="4" class="accordion-title planet-name" data-id="4">
                    
                    <img src="http://grlindburg.com/SmokoSystem/src/assets/img/music.png">
                </a>

                {# {{ planet.name }} #}
            </li>
            <li class="accordion-item" data-accordion-item>
                <a id="3" class="accordion-title planet-name" data-id="3">
                    <img src="http://grlindburg.com/SmokoSystem/src/assets/img/shop.png">
                </a>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a id="2" class="accordion-title planet-name" data-id="2">
                    <img src="http://grlindburg.com/SmokoSystem/src/assets/img/contact.png">
                </a>
            </li>
        {# {% endfor %} #}
    </ul>
{% endspaceless %}
