.menu,
.moons {
    position: fixed;
    bottom: 3rem;
    z-index: 3;
    border: 1px solid rgba(45, 45, 45, 0.85);

    ul {
        list-style: none;
        margin-bottom: 0;
    }

    li {
        line-height: 2rem;
    }
}

.accordion {
    background: transparent;
    border: none;
    .menu-title {
        display: none;
    }
    .accordion-title {
        border: none;
        &:before {
            display: none;
        }
    }
}

.menu {
    left: 1rem;
    right: auto;
    width: 25px;
    height: 25px;
    border: none;
    background: url('../img/greengrid.png');
    top: auto;
    bottom: 1rem;
    transition: all .5s linear;
    overflow: hidden;

    .planet-list {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    li {
        width: 100%;
        border-radius: 50%;
        margin-left: 0;
        display: none;
        a {
            background: transparent !important;
            text-align: center;
            font-family: "Helvetica Neue";
            font-weight: 900;
            padding: 1rem 0;
            font-size: 30pt;
            color: transparent;
        }
    }

    table {
        @include font-semibold();
        margin-bottom: 0;
        color: white;
        font-size: 0.825rem;
        line-height: normal;

        sup {
            font-size: 50%;
        }
    }

    a {
        color: #cccccc;

        &:hover {
            color: #ffbd00;
        }
    }
}

.menu-active {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    li {
        display: block;
    }
}

.moons {
    right: 0;
    width: 250px;

    .accordion-title {
        @include font-semibold();
        font-size: 0.8125rem;
    }

    table {
        @include font-semibold();
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 0;
    }

    &.traveling {
        .moon-list {
            opacity: 0;
        }
    }

    .moon-list {
        opacity: 1;
        transition: opacity 500ms ease-in-out;
        max-height: 85vh;
        overflow: hidden;
        overflow-y: scroll;
    }

    a {
        &:hover {
            color: #3beaf7;
        }
    }
}

.planet-list {
    bottom: 5rem;
}

.planet-name {
    @include font-semibold();
    
    font-size: 1.125rem;
    margin: 0 auto;
    width: 300px;

    @include mobile {
        width: 70%;
    }
}

.toggle-effects {
    position: fixed;
    width: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    width: 100%;

    label {
        color: white;
    }

    .control-holder {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }
}

.menu-title {
    @include font-bold();
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(45, 45, 45, 0.8);
    padding: 0.5rem 1rem;
}

.accordion-item {
    &.is-active {
        .accordion-title {
            background-color: rgba(30, 30, 30, 0.75);
            color: #3beaf7;
        }
    }
}
